body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
}

.logo {
  padding: 13px 56px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.head {
  background-color: #f4f7f9;
}

.header-up {
  background-color: #293449;
}

.header-up input {
  border: 0;
  background-color: #293449;
}

.header-up input:hover {
  background-color: #212a3a;
}

.header-up input[type=search]:focus {
  background-color: #ffffff;
}

.search-style:before {
  content: url(../img/icon-search.svg);
}

.header-up input::placeholder {
  font-size: 17px;
  color: #ffffff;
}

.main-user li {
  display: inline;
  list-style: none;
}

.main-user a {
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}

.main-user li:hover {
  background-color: #212a3a;
}

.main-user li:active {
  background-color: #161d29;
}

.main-user li:first-child::before {
  content: url(../img/icon-bookmark.svg);
}

.main-user li:nth-child(2)::before {
  content: url(../img/cart-icon.svg);
}

.checkout {
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
}

.header-center p {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
}

.tel {
  font-size: 21px;
  line-height: 1;
  color: #ee3643;
}

.contacts p {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;
  color: #32425c;
}

 .btn-log {
  text-decoration: none;
  font-size: 21px;
  line-height: 1;
  color: #000000;
  border: none;
  background-color: #ffffff;
}

.btn-log:hover {
  color: #ee3643;
}

.btn-log:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-log-in::before {
  content: url(../img/icon-login.svg);
}

.nav {
  background-color: #32425c;
}

.nav li {
  list-style: none;
}

.nav a {
  font-size: 17px;
  text-decoration: none;
  line-height: 1;
  color: #ffffff;
}

.nav li:hover {
  background-color: #293449;
}

.nav li:active {
  background-color: #1d2739;
}


.offer h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
}

.offer a {
  display: block;
  width: 135px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.offer a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offer-materials,
.offer-delivery {
  background-color: #ffbf47;
}

.offer-materials::after {
  content: url(../img/icon-1.svg);
}

.offer-tool {
  background-color: #3bbce3;
}

.offer-tool::after {
  content: url(../img/icon-2.svg);
}

.offer-equipment {
  background-color: #dc91d8;
}

.offer-equipment::after {
  content: url(../img/icon-3.svg);
}

.offer-sale {
  background-color: #8ed78f;
}

.offer-sale::after {
  content: url(../img/icon-4.svg);
}

.offer-delivery::after {
  content: url(../img/icon-5.svg);
}

.slider {
  background-image: url(../img/slide-1.jpg);
  background-size: 620px 266px;
  background-repeat: no-repeat;
  background-color: lightgray;
}

.slider h2 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  color: #ffffff;
}

.slider p {
  font-size: 18px;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff
}

.arrow-left::before {
  content: url(../img/icon-left.svg);
}

.arrow-right::before {
  content: url(../img/icon-right.svg);
}

.slider .btn {
  padding: 14px 49px;
  font-size: 14px;
  line-height: 1.29;
  background-color: #ee3643;
}

.slider .btn:hover {
  background-color: #ca2c37;
}

.slider .btn:active {
  background-color: #ba2732;
}

.popular-item {
  background-color: #f9f5f0;
}

.popular-item h2 {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.btn {
  display: block;
  width: 253px;
  padding: 13px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.products li {
  list-style: none;
}

.products a {
  text-decoration: none;
}

.products h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.products .buy {
  display: ;
}

.buy a {
  display: block;
  width: 135px;
  border: solid 3px #63a63e;
  border-radius: 3px;
  margin-bottom: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: 0px 3px 0 0 #367315;
}

.buy-item:hover {
  border-color: #5fbb2d;
  background-color: #5fbb2d;
}

.buy-item:active {
  border-color: #518534;
  background-color: #518534;
}

.buy .bookmark {
  border: solid 3px #63a63e;
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

.buy .bookmark:hover {
  border: solid 3px #32425c;
}

.buy .bookmark:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.products p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: center;
}

.price-old {
  text-decoration: line-through;
  color: #a9a9a9;
}

.price-new {
  background-color: #ee3643;
}

.list-producer li {
  width: 220px;
  height: 145px;
  list-style: none;
  border: solid 1px #eaeaea;
}

.services {
  background-color: #f4f7f9;
  background-image: url(../img/delivery.png);
  background-size: 468px 261px;
  background-repeat: no-repeat;
}

.services h2,
.info-company h2 {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}

.services p,
.info-company p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.services-list li {
  list-style: none;

}


.services-list a {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  text-decoration: none;
  background-color: #32425c;
  color: #ffffff;
}

.services-list li a:hover {
  background-color: #293449;
}

.services-list li a:active {
  background-color: #ffffff;
  color: #32425c;
}

.about li {
  font-size: 18px;
  line-height: 1.11;
}

.foot {
  background-color: #32425c;
}

footer li {
  list-style: none;
}

.footer-nav a,
.footer-nav-center a,
.footer-nav-down a {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.33;
  color: #f1f5f7;
}

.footer-nav a:hover,
.footer-center a:hover {
  text-decoration: underline;
}

.footer-nav a:active,
.footer-center a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-center p,
.footer-center a {
  color: #f1f5f7;
  text-decoration: none;
}

.footer-nav-center a {
  color: #ffd180;
}

.footer-down {
  background-color: #293449;
}

.footer-down p {
  font-size: 16px;
  line-height: 1.13;
  color: #f1f5f7;
}

.mail,
.dev {
  text-decoration: none;
  color: #ffd180;
}

.footer-down li {
  background-color: #212a3a;
}

.footer-nav-down a {
  font-size: 0;
}


.footer-down li:first-child a::before {
  content: url(../img/vk-icon.svg);

}

.footer-down li:nth-child(2) a::before {
  content: url(../img/fb-icon.svg);
}

.footer-down li:last-child a::before {
  content: url(../img/insta-icon.svg);
}

.footer-down li:hover {
  background-color: #ee3643;
}

.mail:hover,
.dev:hover {
  text-decoration: underline;
}

.mail:active,
.dev:active {
  text-decoration: none;
  color: #ee3643;
}

.modal-content,
.modal-basket {
  display: none;
}


/*------------CATALOG-----------------*/


.user-menu a {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
}

.user-menu a:hover {
	color: #ee3643;
}

.user-menu a:active {
	color: rgba(50, 66, 92, 0.3);
}

.user-cabinet {
  font-size: 21px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.user-cabinet:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-user .user-cabinet::before {
  content: url(../img/icon-user.svg);
}

.login-user .user-cabinet::after {
  content: url(../img/icon-logout.svg);
}



.breadcrumbs li {
  display: inline;
  list-style: none;
}

.breadcrumbs a {
  text-decoration: none;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs a:hover {
  opacity: 0.7;
}

.item-heading {
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.filter-section {
 font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

fieldset {
  border: none;
}

.filter-head,
.manufacturer legend,
.power legend {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;
}

.manufacturer li,
.power li {
  list-style: none;
}

.manufacturer label,
.power label {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  text-transform: uppercase;
}

.filter button {
  width: 140px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: solid 1px #e5e5e5;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}

.filter button:hover {
  border: solid 1px #bdc6ca;
}

.sort {
  background-color: #f7f3ec;
}

.sort p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sort li {
  list-style: none;
}

.sort-nav a {
  border-bottom: 1px dashed #ee3643;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.sort-nav a:hover {
  border-bottom: 1px solid #ee3643;
  color: #000000;
}

.up,
.down {
  font-size: 0;
}

.pages li {
  display: inline-block;
  border: solid 1px #e5e5e5;
  list-style: none;
}

.pages a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000
}

.pages li:hover {
  border: solid 1px #bdc6ca;
  ;
}

.pages li:active {
  border: solid 1px #ee3643;
}

.about-item h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}

.about-item p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
}
